---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include post.html %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    "HTML-CSS": {
        preferredFont: "TeX",
        availableFonts: ["STIX", "TeX"],
        linebreaks: {
            automatic: false
        },
        EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50)
    },
    tex2jax: {
        inlineMath: [
            ["$", "$"],
            ["\\\\(", "\\\\)"]
        ],
        displayMath: [
            ["$$", "$$"],
            ["\\[", "\\]"]
        ],
        processEscapes: true,
        ignoreClass: "tex2jax_ignore|dno"
    },
    TeX: {
        noUndefined: {
            attributes: {
                mathcolor: "red",
                mathbackground: "#FFEEEE",
                mathsize: "90%"
            }
        },
        Macros: {
            href: "{}"
        }
    },
    messageStyle: "none",

    styles: {
        ".MathJax .merror": {
            "text-align": "center"
        },
        ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": {
            "background": "inherit"
        }
    }
});
</script>
